@import 'https://fonts.googleapis.com/css?family=Faster+One';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
h1 {
  color : red;
  font-family: Faster One;
}
p{
  font-family: Faster One;
}
body{
  background-color:yellow;
}
#reverseflash{
  color:yellow;
}
.rf{
  background-color: red;
}
.zm{
  background-color: black;
}
#zoom{
  color: blue;
}
.type{
  color: white;
  font-family: Montserrat;
}
