@import 'https://fonts.googleapis.com/css?family=Faster+One';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
h1 {
  color : red;
  font-family: Faster One;
  text-align: center;
}
h2{
  font-family: Faster One;
}
p{
  font-family: Faster One;
}
img{
  display: block;
  margin: auto;
}
#reverseflash{
  color:yellow;
}
.rf{
  background-color: red;

}
.zm{
  background-color: black;
}
#zoom{
  color: blue;
}
.type{
  color: white;
  font-family: Faster One;
  color: gray;
  background-color: black;
}
#pic{
  display: inline;
}
#hi{
  color: gray;
}
#pics{
  border: 3px dashed white;
}
#di{
  border: 5px solid yellow;
}
.fl{
  background-color: yellow;
}
